@{
    ViewBag.Title = "Home Page";
}

<div class="row center-block">
    <h1>123 Trash Collectors</h1>
    <img class="img-responsive" src="~/images/images (2).jpg" />
    @if (!Context.User.Identity.IsAuthenticated)
    {<br />
        <p class="btn btn-default">@Html.ActionLink("Register", "Register", "Account")</p>
    }
</div>

@if (Context.User.IsInRole("Customer"))
{
    <div class="row">
        <div class="col-md-4">
            <h2>Manage Pick-up Address</h2>
            <p>
                You can add pickup locations here.
            </p>
            <p class="btn btn-default">@Html.ActionLink("Address List", "Index", "ServiceAddresses")</p>
        </div>
        <div class="col-md-4">
            <h2>Manange Pickup Shedule</h2>
            <p>You can schedule all of you pickups. Pickups can be reoccuring and/or one-time only.</p>
            <p class="btn btn-default">@Html.ActionLink("Service Days List", "Index", "ServiceDays")</p>
        </div>
        <div class="col-md-4">
            <h2>Invoices</h2>
            <p>You can easily find all of your past invoices here.</p>
            <p class="btn btn-default">@Html.ActionLink("Special Service Day List", "Index", "SpecialServiceDays")</p>
        </div>
    </div>
}